body {
  font-family: Roboto;
  padding-top: 70px;
  /* color: white; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/login.jpg) no-repeat center center fixed; */
  background-size: cover;
}

.top-sec {
  margin-bottom: 60px;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #A0CA68;
  letter-spacing: 5px;
}

input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#topic {
  font-size: 40px;
  font-weight: 500px;
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
  color: #4c4d4f;
  font-size: 24px;
}

#signInBtn {
  background: #A0CA68;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 50px;
  margin-top: 20px;
}

#signInBtn:hover {
  background-color: #8baf5b;
  transform: scale(1.05);
}

#signInBtn:active {
  background-color: #629f00;
  transform: scale(0.95);
}

#signUpBtn {
  background: #A0CA68;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 50px;
  margin-top: 20px;
}

#signUpBtn:hover {
  background-color: #8baf5b;
  transform: scale(1.05);
}

#signUpBtn:active {
  background-color: #6e8c47
  transform: scale(0.95);
}

.navMain,
#ready {
  cursor: pointer;
}

.navMain:hover,
#ready:hover {
  text-decoration: underline;
}

.foot {
  font-size: 14px;
  margin-bottom: 35px;
  color: #4C4D4F;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.form-control {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.input-group-addon {
  /* background: rgba(221, 221, 221, 0.4); */
  border: 0px;
  height: 45px;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: white;
  border: 1px solid #C3C3C4;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"],
input[type="date"],
#gender {
  padding-left: 25px;
  border: 0px;
  color: #4c4d4f;
  height: 45px;
  padding-left: 0px;
  border-top: 1px solid #C3C3C4;
  border-bottom: 1px solid #C3C3C4;
  border-right: 1px solid #C3C3C4;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="date"],
#gender:focus {
  outline: none;
  box-shadow: none;
  color: #4c4d4f;
  border-top: 1px solid #C3C3C4;
  border-bottom: 1px solid #C3C3C4;
  border-right: 1px solid #C3C3C4;
}

input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
  color: #C3C3C4;
  font-size: 15px;
}

input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

#remember {
  font-size: 14px;
  color:#4C4D4F;
}

#navLogin,
#signup-section {
  display: none;
}

#navSignup,#navLogin {
  font-family: Roboto;
  font-size: 14px;
  color:#A0CA68;
}

#forgetPassworld {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 14px;
  color: #A0CA68;
  cursor: pointer;
}

.forget-section {
  margin-top: 20px;
}

.error {  
  font-family: Roboto;
  font-size: 12px;
  color: #EB5757;
}

.input-error {
  border-top: 1px solid #EB5757 !important;
  border-bottom: 1px solid #EB5757 !important;
  border-right: 1px solid #EB5757 !important;
}

.addon-error {
  border-top: 1px solid #EB5757 !important;
  border-bottom: 1px solid #EB5757 !important;
  border-left: 1px solid #EB5757 !important;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}