body {
  font-family: Roboto !important;
  padding-bottom: 30px;
  padding-top: 30px;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #a0ca68;
  letter-spacing: 5px;
}

#name {
  font-weight: bold;
  font-size: 40px;
}

.main_detail {
  margin-top: 15px;
  margin-left: 0px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

#sketch-holder2 {
  position: absolute;
  top: 0px;
}

.main_detail p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
}

#heightBtn {
  margin-top: 10px;
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
  color: #a0ca68;
  border: 1px solid #a0ca68;
}

#heightBtn:hover {
  color: #6a9951;
  border: 1px solid #6a9951;
}

#heightBtn:active,
#heightBtn:focus {
  box-shadow: none;
  transform: scale(0.98);
}

.date_section {
  margin-top: 15px;
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
}

#dateValue {
  color: ;
}

.nav-tabs {
  border-bottom: 0px !important;
}
.nav-item a {
  color: inherit;
}

.nav-item a:hover {
  color: inherit;
  border: 0px;
  font-weight: bold;
}

.nav-item a.active {
  border: 0px;
  font-weight: bold;
  color: #a0ca68 !important;
  border-bottom: 2px solid #a0ca68 !important;
}

.canvas_wrapper {
  position: relative;
}

#sketch-holder,
#sketch-holder2 {
  width: 50px;
}

ul.nav.nav-tabs {
  margin-top: 20px;
}

.historyItem {
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  width: 250px;
  padding: 20px;
  font-family: Roboto;
}

#eachDay {
  margin-top: 15px;
}

.activity {
  margin-top: 15px;
  font-weight: bold;
}

.historyDate {
  color: #a0ca68;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

/* -------- Dropdown menu ------- */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  outline: none;
  box-shadow: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebebeb;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: black;
  background-color: #d7d7d8;
}

.show {
  display: block;
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 5px 5px;
  cursor: pointer;
  margin-left: -10px;
  margin-right: 10px;
}

.down {
  transform: rotate(45deg);
}

.noData {
  margin-top: 50px;
  color: gray;
  opacity: 0.5;
  font-weight: bold;
}

.unit {
  color: gray;
}
